span{
	text-shadow: 0.1vw 0.1vw grey;
	color: yellow;
	font-family: 'Lobster', cursive;
	font-size: 2vw;
}
h2{
	font-size: 1.7vw;
	font-family: 'Roboto Condensed', sans-serif;
}

p{	
	text-align: justify;
	font-size: 1.4vw;
	font-family: 'Roboto Condensed', sans-serif;
}
.container{
	margin-top: 5%;
	margin-bottom: 2%;
	background-color: #F08080;
	padding: 2% 4%;
	border-radius: 2vw;
}

.col-4{
	background-color: #90EE90;
	border-radius: 2vw;
}