span{
	text-shadow: 0.1vw 0.1vw grey;
	color: yellow;
	font-family: 'Lobster', cursive;
	font-size: 2vw;
}
h2{
	font-size: 1.7vw;
	font-family: 'Roboto Condensed', sans-serif;
}

p{	
	text-align: justify;
	font-size: 1.4vw;
	font-family: 'Roboto Condensed', sans-serif;
}
.container{
	margin-top: 5%;
	margin-bottom: 2%;
}