<div class = "container one p-4">
	<h1> 
		Blog 
	</h1>
	<div class = "container two mb-3">
		<h2> 
			Vitoria-Gasteiz Green Capital 2012 
		</h2>
		<p> 
			Vitoria-who? I had the same reaction when I heard of those compounded words. But it’s actually Vitoria-where. Vitoria-Gasteiz lies near the center of the Basque region in Spain, and is the European Green Capital for 2012. The capital city of the province of Alava up-staged other finalists including its fellow Spanish city Barcelona. It now shares the prestige with other more popular European Green Capital cities such as Stockholm (2010), Hamburg (2011), and Nantes (2013). But perhaps unlike the other winning cities, biodiversity is part of Vitoria-Gasteiz’s green strategy to preserve the different species of flora and fauna. A greenbelt also surrounds the small city with a population of about 235,000. Given the city’s small size, it is possibly more manageable in terms of public administration, project implementation, and collective decision-making. Vitoria Gasteiz has a little over a year to prepare and prove to be “green outside, green inside”, its European Green Capital tagline.
		</p>
		<p>
			If you speak Spanish or Euskera, visit Vitoria-Gasteiz’s official website or their participation-driven verdepordentro European Green capital website.
		</p>
		<p>
			<a href = "https://youtu.be/zH_PbYIFjvg">
				Here 
			</a> 
			is their official entry video.
		</p>
		<img src="/assets/img/vitoria2.jpg">
	</div>
</div>