<div class = "container">
	<h2>Shopping Cart</h2>
	

	<div class = "row row-cols-1 m-3">
		<div class="col mb-4 card-deck mx-auto mt-1">
			<div class = "card m-0">

	
				<ng-template [ngIf]=  "sum != 0" [ngIfElse] = "cartstuff">
					<h4>You booked the following trips:</h4>
					<div class="cart-item" *ngFor="let item of items">
						<p>
 		<span>{{ item.destination }} </span>
 		<span>{{ item.price | currency: "€" }}</span></p>
	</div>
					<ng-template [ngIf]=  "sum > 200" [ngIfElse] = "normal">
	    				<ng-template [ngIf]=  "sum > 500" [ngIfElse] = "twoHundred">
	    					<h5>You got a 20% discount!!!</h5>
	    					<h4>Original price: {{ sum | currency: "€"}}</h4>
	    					<h3>Total price: {{ disc | currency: "€"}}</h3>
	    				</ng-template>
	    				<ng-template #twoHundred> 
	    					<h5>You got a 10% discount!!!</h5>
	    					<h4>Original price: {{ sum | currency: "€"}}</h4>
	    					<h3>Total price: {{ disc | currency: "€"}}</h3>
	    				</ng-template>
					</ng-template>
					<ng-template #normal> 
						<h1>
							<h5>You have no discount.</h5>
							<h3>Total price: {{ disc | currency: "€"}}</h3>
						</h1>
					</ng-template>
				</ng-template>
				<ng-template #cartstuff>
					<h4> Cart is empty </h4>
				</ng-template>

			</div>
		</div>
	</div>
</div>
<!--
					<h3 class = "h3">
				     	{{ trip.destination }}
					</h3>
					<h4 class = "h4">
						{{ trip.description }}
					</h4>
					<p>
						Start: {{ trip.start }}
					</p>
					<p>
						Duration: {{ trip.duration }}
					</p>
					<p>
						Price: {{ trip.price | currency: "€" }}
					</p>
					<button (click)="addToCart(trip)">Book this trip!</button>
				</div>
			</div>
		</div>
	</div>
</div>-->